<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.piste">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosds"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_Activity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".Missions_Activity" />
        <activity android:name=".MainActivity23" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".AllProductsActivity" />
        <activity android:name=".Test_Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Details_Activity" />
        <activity android:name=".Aziz_Activity"></activity>
    </application>

</manifest>